.product-card {
    break-inside: avoid;    /* prevents card from splitting across columns */
    margin-bottom: 1rem;
    background: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    position: relative;
  }
  
  .product-card img {
    display: block;
    object-fit: cover;
    padding: 0px;
    width: 100%;
}

.product-card.scale-down img {
  object-fit: contain;
}
  
  .card-content {
    padding: 0.75rem 1rem;
    background-size: 1px !important;
  }
  
  .card-content h3 {
    font-size: 1rem;
    margin: 0 0 0.5rem;
  }
  
  .card-content .category {
    font-size: 0.85rem;
    color: #fff;
    margin-bottom: 0.25rem;
  }
  
  .card-content .price {
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
    text-shadow: 4px 9px 14px rgba(0, 0, 0, 0.2) !important;
    font-weight: bold !important;
  }

  .price-range {
    display: flex;
    align-items: center;
    gap: 8px;
    text-shadow: 4px 9px 14px rgba(0, 0, 0, 0.2) !important;
    font-weight: bold !important;
    margin-top: 22px;
  }

  .get-it-for {
    font-family: quicksand;
    font-size: 0.9rem;
    text-align: center;
    margin-bottom: 6px;
    margin-top: -8px;
    margin-bottom: 14px;
    opacity: 0.7;
  }

  .cta-wishlist {
    border: 1.2px solid #ffffff;
    border-radius: 38px;
    display: block;
    font-size: .8rem;
    left: 0 !important;
    margin: 0 auto !important;
    padding: 3px;
    position: absolute;
    right: 0 !important;
    text-shadow: 4px 9px 14px rgba(0, 0, 0, .2) !important;
    width: calc(100% - 16px) !important;
    font-weight: bold !important;
  }

  .cta-shop {
    background: rgb(0, 0, 0);
    margin-top: 42px !important;
    border: 1px solid #000;
    padding: 4px;
  }
  
  .card-content-desc {
    background: transparent;
    color: #fff;
    font-family: rec;
    font-size: 18px;
    height: 200px;
    padding-left: 12px;
    padding-right: 12px;
    position: absolute;
    top: 300px;
    margin: 0 auto;
    left: 0;
    right: 0;
  }
  