.product-card {
    break-inside: avoid;    /* prevents card from splitting across columns */
    margin-bottom: 1rem;
    background: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    position: relative;
  }
  
  .product-card img {
    display: block;
    object-fit: cover;
    padding: 0px;
    width: 100%;
}
  
  .card-content {
    padding: 0.75rem 1rem;
    background-size: 1px !important;
  }
  
  .card-content h3 {
    font-size: 1rem;
    margin: 0 0 0.5rem;
  }
  
  .card-content .category {
    font-size: 0.85rem;
    color: #fff;
    margin-bottom: 0.25rem;
  }
  
  .card-content .price {
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
    text-shadow: 4px 9px 14px rgba(0, 0, 0, 0.2) !important;
    font-weight: bold !important;
  }

  .price-range {
    display: flex;
    align-items: center;
    gap: 8px;
    text-shadow: 4px 9px 14px rgba(0, 0, 0, 0.2) !important;
    font-weight: bold !important;
    margin-top: -12px;
  }

  .cta-wishlist {
    border: 1px solid;
    border-radius: 8px;
    display: block;
    left: 0 !important;
    margin: 0 auto !important;
    position: absolute;
    right: 0 !important;
    width: calc(100% - 36px) !important;
    padding: 8px;
    text-align: center;
    text-shadow: 4px 9px 14px rgba(0, 0, 0, 0.2) !important;
  }
  
  .card-content-desc {
    background: transparent;
    color: #fff;
    font-family: rec;
    font-size: 18px;
    height: 200px;
    padding-left: 20px;
    padding-right: 20px;
    position: absolute;
    top: 300px;
    margin: 0 auto;
    left: 0;
    right: 0;
  }
  