.header {
    padding: 20px;
    background-color: #fff;
    color: #000;
    text-align: center;
    font-size: 24px;
    height: 43px;
}
.store-logo {
    position: absolute;
    width: 140px;
    left: 70px;
    top: 19px;
}
.store-logo-shop {
    position: absolute;
    width: 140px;
    left: 20px;
    top: 24px;
}
.store-logo-sm {
    position: absolute;
    left: 10px;
    top: 19px;
    width: 70px;
    margin-top: 30px;
    margin-left: 93px;
}
.header .logout {
    position: relative;
    right: 0px;
    float: right;
    font-size: 1rem;
}
.menu-bar {
    position: absolute;
    left: 12px;
    top: 22px;
    cursor: pointer;
}
span.announcement {
    background: #4CAF50;
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    font-size: 1rem;
    padding: 12px;
    font-weight: 500;
}
.top-margin {
    margin-top: 60px;
}
.top-margin-sm {
    top: 80px;
}
@media screen and (min-width:768px) {
    .menu-bar {
        display: block;
    }
}