.header {
    padding: 20px;
    background-color: #fff;
    color: #000;
    text-align: center;
    font-size: 24px;
    height: 43px;
}
.store-logo {
    position: absolute;
    width: 140px;
    left: 70px;
    top: 19px;
}
.store-logo-shop {
    position: absolute;
    width: 140px;
    left: 20px;
    top: 24px;
}
.store-logo-sm {
    position: absolute;
    left: 10px;
    top: 19px;
    width: 70px;
    margin-top: 30px;
    margin-left: 93px;
}
.header .logout {
    position: relative;
    right: 0px;
    float: right;
    font-size: 1rem;
}
.menu-bar {
    position: absolute;
    left: 12px;
    top: 22px;
    cursor: pointer;
}
span.announcement {
    background: #4CAF50;
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    font-size: 1rem;
    padding: 12px;
    font-weight: 500;
}
.top-margin {
    margin-top: 60px;
}
.top-margin-sm {
    top: 80px;
}
.notif-card-box-th.notif-card-box-th-1 {
    position: absolute;
    top: 0;
    z-index: 1;
    width: 100%;
    display: flex;
    height: 145px;
    background: white;
    box-shadow: 0 2px 6px rgba(0, 0, 0, .1);
    margin: 0;
}
.notif-card-ic {
    fill: #5d5d5d;
    filter: brightness(.8);
    margin-top: 1px;
    vertical-align: text-top;
    width: 16px;
    display: inline;
    margin-left: 8px;
    margin-right: 8px;
}
.notif-card-icon-container {
    padding: 12px;
    margin-top: 25px;
}
.notif-box {
    margin-left: 32px;
    margin-top: -4px;
    line-height: 20px;
}
.notif-sp {
    font-size: 3rem;
    padding: 14px;
}
p.notif-card-msg-txt.notif-box {
    width: 100%;
    margin-left: 0px;
}
p.notif-card-title-txt {
    font-weight: 600;
}
p.notif-card-title-txt.notif-box {
    font-weight: 600;
    margin-top: 22px;
    margin-left: 0;
}
p.notif-card-msg-txt {
    width: 95%;
}

.card-margin-header {
    margin-top: 144px;
}
.card-margin-menu {
    top: 162px;
}
.card-margin-logo-sm {
    top: 159px;
}
.card-margin-logo {
    top: 159px;
}
.holder {
    position: relative;
  }
  .scard {
    border: 1px solid #fff;
    border-radius: 15px;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);
    font-size: 2rem;
    height: 220px;
    left: 0;
    margin: 0 auto;
    max-width: 370px;
    overflow: hidden;
    position: fixed;
    right: 0;
    width: 100%;
    width: 100vw;
    z-index: 1;
  }
  /*.scard:before {
    background-color: rgb(255 255 255 / 1%);
    backdrop-filter: blur(10px) saturate(100%) contrast(100%) brightness(100%);
    -webkit-backdrop-filter: blur(10px) saturate(100%) contrast(45%) brightness(130%);
    content: "";
    height: 100%;
    position: absolute;
    width: 100%;
}*/
.scard-bg {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255 255 255 / 1%);
    backdrop-filter: blur(10px) saturate(100%) contrast(100%) brightness(100%);
    -webkit-backdrop-filter: blur(10px) saturate(100%) contrast(45%) brightness(130%);

    border: 1px solid #fff;
    border-radius: 15px;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);
    font-size: 2rem;
    height: 220px;
    left: 0;
    margin: 0 auto;
    max-width: 370px;
    overflow: hidden;
    position: fixed;
    right: 0;
    width: 100%;
    width: 100vw;
    z-index: 1;
  }
  .card__text {
    color: #6f7886;
    margin-left: 30px;
    margin-top: 100px;
    position: relative;
    z-index: 2;
  }
  .scard svg {
    bottom: 30px;
    position: absolute;
    right: 30px;
  }
  .scard-mini {
    border: 1px solid #fff;
    border-radius: 15px;
    box-shadow: none;
    font-size: 2rem;
    height: 220px;
    left: 0;
    margin: 0 auto;
    max-width: 370px;
    overflow: hidden;
    position: relative;
    right: 0;
    width: 100%;
    width: 80vw;
    z-index: 0;
    height: 50px;
    width: 100%;
    border-radius: 0;
    background: white;
    margin-top: 6px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}
.scard-mini-cashback {
    left: 232px;
    position: absolute;
    top: 11px;
    color: white;
    font-size: 1rem;
    font-weight: 500;
}
.scard-mini-text {
    font-size: .9rem;
    left: 51px;
    position: absolute;
    top: 8px;
    width: 33%;
}
.mini-share-ic {
    position: relative !important;
    top: 10px !important;
    left: 126px !important;
    float: left;
}
.cashback-type {
    position: absolute;
    font-size: 1.4rem;
    margin-top: 52px;
    width: 62px;
    left: 28px;
    background: #22C55D;
    color: white;
    padding: 12px;
    border-radius: 12px;
}
.scard-type {
    position: absolute;
    font-size: 1.4rem;
    margin-top: 52px;
    width: 62px;
    left: 28px;
    background: #22C55D;
    color: white;
    padding: 12px;
    border-radius: 12px;
}
.ssbox {
    background: #f81134;
    height: 43px;
    margin: 50px;
    width: 150px;
}
  
.left-skew {
    border-top-right-radius: 15px;
    float: right;
    position: absolute;
    right: -52px;
    top: -50px;
    z-index: 0;
}
.left-skew:before {
    background: red;
    bottom: 0;
    content: "";
    display: block;
    left: -28px;
    position: absolute;
    top: 0;
    transform: skew(20deg);
    width: 55px;
    z-index: -1;
}
.scard > img.sslogo {
    position: absolute;
    width: 24px;
    top: 12px;
    left: 14px;
}
.scard-mini > img.sslogo {
    position: absolute;
    width: 24px;
    top: 12px;
    left: 14px;
}
.card__elig {
    font-size: 1.05rem;
    margin-left: 137px;
    margin-top: 8px;
    position: absolute;
    top: 56px;
    width: 222px;
    z-index: 0;
}
img.card__elig_loc_logo {
    position: absolute;
    z-index: 0;
    top: 119px;
}
img.card__elig_loc {
    left: 160px;
    position: absolute;
    top: 103px;
    z-index: 0;
}
.cashback-value {
    position: absolute;
    right: 16px;
    font-size: 1.15rem;
    top: 10px;
    color: white;
}
.bounce-3 {
    animation-name: bounce-3;
    animation-timing-function: ease;
    top:-200px;
    animation-duration:8000ms;
    animation-delay: 0s;
    animation-fill-mode: forwards;
    will-change: transform;
    transform: translateZ(0); /* fixes blurriness in Safari */
    -webkit-font-smoothing: antialiased;
  backface-visibility: hidden;
}
@keyframes bounce-3 { 0% { transform: translateY(0px); } 5% { transform: translateY(300px); } 15% { transform: translateY(300px); } 40% { transform: translateY(300px); } 60% { transform: translateY(-300px); } 61% { transform: translateY(-300px); } 62% { transform: translateY(-80px); } 63% { transform: translateY(-80px); } 64% { transform: translateY(-80px); } 65% { transform: translateY(-80px); } 66% { transform: translateY(-80px); } 67% { transform: translateY(-80px); } 68% { transform: translateY(-80px); } 69% { transform: translateY(-80px); } 75% { transform: translateY(-80px); } 90% { transform: translateY(-80px); } 100% { transform: translateY(-80px); } }
  
  @keyframes orbit {
    from {
      transform: rotate(0deg) translateX(100px) rotate(0deg);
    }
    to {
      transform: rotate(360deg) translateX(100px) rotate(-360deg);
    }
  }

@media screen and (min-width:768px) {
    .menu-bar {
        display: block;
    }
}