

.container {
  flex: 1 1;
  left: 0;
  margin: 0 auto;
  padding: 0px;
  position: relative;
  right: 0;
  width: 100vw;
}

  h1 {
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 1rem;
    text-align: left;
  }

  input, select, textarea {
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    margin-bottom: 12px;
    padding: 12px;
    width: -webkit-fill-available;
    font-family: "Montserrat", sans-serif;
}

  textarea {
    resize: vertical;
    min-height: 80px;
  }

  .footer-buttons {
    background: #fff;
    bottom: 0;
    box-shadow: 0 -2px 6px rgba(0, 0, 0, .1);
    display: flex;
    gap: 12px;
    justify-content: space-between;
    padding: 16px;
    position: -webkit-sticky;
    position: sticky;
    width: -webkit-fill-available;
  }

  .footer-buttons button {
    align-items: center;
    border: 1px solid #ffffff !important;
    background: linear-gradient(180deg, #f94f50, #dc0304);
    border-radius: 8px;
    color: #fff;
    cursor: pointer;
    display: flex;
    flex: 1 1;
    font-size: 1rem;
    gap: 8px;
    justify-content: center;
    padding: 12px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
  }

  .footer-buttons button:hover {
    opacity: 0.95;
  }
  
  .tabs-container {
    overflow-x: auto;
    white-space: nowrap;
    background: #fff;
    border-bottom: 1px solid #ddd;
  }

  .tabs, .sub-tabs {
    display: flex;
    gap: 8px;
    padding: 0px;
    padding-left: 14px;
    margin-top: 16px;
    margin-bottom: 16px;
    padding-bottom: 0px;
  }

  .tab, .sub-tab {
    padding: 8px 16px;
    border-radius: 16px;
    background: #eee;
    cursor: pointer;
    white-space: nowrap;
    font-size: 0.9rem;
  }

  .tab.active, .sub-tab.active {
    background: #ff2c2d;
    color: #fff;
  }

  .product-list {
    grid-gap: 16px;
    display: grid;
    gap: 16px;
    padding: 16px;
    padding-left: 40px;
    padding-right: 40px;
    background: #f9f9f9;
  }

  .card {
    background: #fff;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
  }

  .card img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  .card-content {
    padding: 12px;
    padding-bottom: 18px;
    padding-right: 18px;
  }

  .highlights {
    font-size: 0.85rem;
    color: #777;
    margin-bottom: 6px;
  }

  .description {
    font-size: 1rem;
    margin-bottom: 10px;
    color: #333;
  }

  .price {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .price-current {
    font-weight: bold;
    color: #d32f2f;
  }

  .price-original {
    text-decoration: line-through;
    color: #888;
    font-size: 0.9rem;
  }

  .quantity {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin-top: 9px;
    float: right;
  }
  .quantity.inv{
      margin-top: -35px;
      justify-content: right;
      margin-right: 40px;
  }
  .quantity__minus,
  .quantity__plus {
    display: block;
    background: #ee9d7d;
    color: #fff;
    font-size: 19px;
    height: 30px;
    line-height: 28px;
    margin: 0;
    padding: 2px 8px 5px 0px;
    text-align: center;
    text-decoration: none;
    width: 30px;
    padding-right: 0px;
  }
  .quantity__minus:hover,
  .quantity__plus:hover {
      background: #ee9d7d;
      color: #fff;
  }
  .quantity__minus {
    border-radius: 3px 0 0 3px;
  }
  .quantity__plus {
    border-radius: 0 3px 3px 0;
  }
  .quantity__input {
      width: 32px;
      height: 33px;
      margin: 0;
      padding: 0;
      text-align: center;
      border-top: 2px solid #dbc2b48f;
      border-bottom: 2px solid #dbc2b48f;
      border-left: 1px solid #dbc2b48f;
      border-right: 2px solid #dbc2b48f;
      background: #fe4a28;
      color: #ffffff;
      pointer-events: none;
      border-radius: 0 !important;
  }
  .quantity__minus:link,
  .quantity__plus:link {
    color: #fff;
  }
  .quantity__minus:visited,
  .quantity__plus:visited {
    color: #fff;
  }
  .incrementer {
      position: relative;
      bottom: 74px;
      float: right;
      opacity: 0.75;
      margin-left: 198px;
  }
  .c-count {
    background: #ffdc40;
    border: 2px solid #fef5cd;
    border-radius: 50px;
    color: #000;
    float: right;
    font-size: 16px;
    height: 7px;
    line-height: 7px;
    max-width: 27px;
    padding: 12px 16px 12px 11px;
    position: absolute;
    right: -9px;
    top: 2px;
    z-index: 2;
    font-weight: 500;
    width: 7px;
}
  .checkout {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background: #333;
    background: linear-gradient(-45deg, #fa6037, #f57556, #fd5531, rgba(255, 27, 0, .98));
    box-shadow: 0px 0px 46px 0px rgba(0,0,0,0.27);
    border-radius: 30px;
    color: #fff;
    float: right;
    font-weight: 700;
    height: 39px;
    line-height: 33px;
    margin-top: 21px;
    padding-left: 14px;
    padding-top: 5px;
    right: 50px;
    top: -79px;
    width: 112px;
}

#checkoutHeader {
  display: none;
  height: 82px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  right: 12px;
}

.checkout-modal{
    position: fixed;
    top: 1300px;
    z-index: 1;
    width: 100%;
    height: 100vh;
    transition: all 0.7s ease 0s;
    opacity: 1;
    background: none;
}
card-btn{
  font-family: Quicksand;
  font-weight: bold;
  font-size: 16px;
  padding-top: 8px;
  padding-bottom: 7px;
  border-radius: 40px;
  text-align: center;
  margin-top: 4px;
  margin-right: 8px;
  display: inline-block;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  -webkit-box-shadow: 0px 0px 46px 0px rgba(0,0,0,0.27);
  -moz-box-shadow: 0px 0px 46px 0px rgba(0,0,0,0.27);
  box-shadow: 0px 0px 46px 0px rgba(0,0,0,0.27);
  color: rgba(255,255,255,0.9);
  border-radius: 8px;
  background: linear-gradient(-45deg, #fa6037, #f57556,#fd5531, rgba(255,27,0,0.98));
  width: calc(100% - 36px);
  height: 42px;
  margin-top: 20px;
  position: absolute;
  margin-left: -3px;
}

.card-btn.small {
  top: 254px;
  margin-top: auto;
  float: left;
  right: 0px;
  left: 0px;
  margin: 0 auto;
  width: 200px;
  font-size: 16px;
}

.coupon-btn {
  z-index: 1;
  margin-top: 10px;
  float: right;
  width: 98px;
  right: 23px;
  line-height: 23px;
  top: 20px;
  position: absolute;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background: #333;
  border-radius: 30px;
  height: 42px;
  background: linear-gradient(-45deg, #fa6037, #f57556,#fd5531, rgba(255,27,0,0.98));
  border-radius: 4px;
  white-space: pre-wrap;
}

.card-btn.secondary {
  background: transparent;
  color: #ffffff63;
  box-shadow: none;
  border: 1px solid #ffffff57;
}

/* Trigger Button */
.open-btn {
  margin: 100px auto;
  display: block;
  padding: 12px 24px;
  font-size: 16px;
  cursor: pointer;
}

/* Modal Container */
.modal-overlay {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255,255,255,0.95);
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(100%);
  transition: transform 0.5s ease;
  z-index: 1000;
}

.modal-overlay.active {
  transform: translateY(0);
}

/* Modal Content */
.modal-content {
  position: absolute;
  text-align: left;
  padding: 16px;
  top: 0;
  height: 100%;
}

/* Close Icon */
.close-btn {
  background: none;
  border: none;
  color: #000;
  cursor: pointer;
  font-size: 38px;
  position: absolute;
  right: 12px;
  top: 12px;
  z-index: 1;
  border-radius: 8px;
  padding-left: 12px;
  padding-right: 12px;
}

.close-btn:hover {
  color: #ff6666;
}

.md-stepper-horizontal {
  margin-top: 0px;
display:table;
width: 95vw;
margin:0 auto;
box-shadow: 0 3px 8px -6px rgba(0,0,0,.50);
}
.md-stepper-horizontal .md-step {
display:table-cell;
position:relative;
padding:24px;
}
.md-stepper-horizontal .md-step:hover,
.md-stepper-horizontal .md-step:active {
background-color:rgba(0,0,0,0.04);
}
.md-stepper-horizontal .md-step:active {
border-radius: 15% / 75%;
}
.md-stepper-horizontal .md-step:first-child:active {
border-top-left-radius: 0;
border-bottom-left-radius: 0;
}
.md-stepper-horizontal .md-step:last-child:active {
border-top-right-radius: 0;
border-bottom-right-radius: 0;
}
.md-stepper-horizontal .md-step:hover .md-step-circle {
background-color:#757575;
}
.md-stepper-horizontal .md-step:first-child .md-step-bar-left,
.md-stepper-horizontal .md-step:last-child .md-step-bar-right {
display:none;
}
.md-stepper-horizontal .md-step .md-step-circle {
width:30px;
height:30px;
margin:0 auto;
background: linear-gradient(-45deg, #ff1b00fa, #fb3a23fa, #f75c4afa, #f1a197fa);
border-radius: 50%;
text-align: center;
line-height:30px;
font-size: 16px;
font-weight: 600;
color:#FFFFFF;
  text-shadow: 0px 1px 2px #00000075;
  opacity: 0.5;
}
.md-stepper-horizontal .md-step .md-step-circle.active {
  opacity: 1;
}
.md-stepper-horizontal.green .md-step.active .md-step-circle {
background-color:#00AE4D;
}
.md-stepper-horizontal .md-step.done .md-step-circle {
background: linear-gradient(-45deg, #46cf72, #46cf72, #5bdd85, rgb(150, 255, 184)) !important;
}
.md-stepper-horizontal.orange .md-step.active .md-step-circle {
background-color:#F96302;
}
.md-stepper-horizontal .md-step.active .md-step-circle {
background-color: rgb(33,150,243);
}
.md-stepper-horizontal .md-step.done .md-step-circle:before {
font-family:'FontAwesome';
font-weight:100;
content: "✓";
}
.md-stepper-horizontal .md-step.done .md-step-circle *,
.md-stepper-horizontal .md-step.editable .md-step-circle * {
display:none;
}
.md-stepper-horizontal .md-step.editable .md-step-circle {
-moz-transform: scaleX(-1);
-o-transform: scaleX(-1);
-webkit-transform: scaleX(-1);
transform: scaleX(-1);
}
.md-stepper-horizontal .md-step.editable .md-step-circle:before {
font-family:'FontAwesome';
font-weight:100;
content: "\f040";
}
.md-stepper-horizontal .md-step .md-step-title {
margin-top:16px;
font-size:16px;
font-weight:600;
font-family: Quicksand;
  font-weight: bold !important;
}
.md-stepper-horizontal .md-step .md-step-title.active {
color: #000;
}
.md-stepper-horizontal .md-step .md-step-title,
.md-stepper-horizontal .md-step .md-step-optional {
text-align: center;
color:#666;
font-weight: normal;
}
.md-stepper-horizontal .md-step.active .md-step-title {
font-weight: 600;
color:#454545;
}
.md-stepper-horizontal .md-step.active.done .md-step-title,
.md-stepper-horizontal .md-step.active.editable .md-step-title {
font-weight:600;
}
.md-stepper-horizontal .md-step .md-step-optional {
font-size:12px;
}
.md-stepper-horizontal .md-step.active .md-step-optional {
color:rgba(0,0,0,.54);
}
.md-stepper-horizontal .md-step .md-step-bar-left,
.md-stepper-horizontal .md-step .md-step-bar-right {
position:absolute;
top:36px;
height:1px;
border-top:1px solid #909090;
}
.md-stepper-horizontal .md-step .md-step-bar-right {
right:0;
left:50%;
margin-left:20px;
}
.md-stepper-horizontal .md-step .md-step-bar-left {
left:0;
right:50%;
margin-right:20px;
}
.card-container.small .usp-desc {
  top: 135px;
  left: 21px;
  color: #fff;
  font-size: 14px;
  font-family: Quicksand;
  width: 240px !important;
}
.card-container.small .title {
  color: #454545;
  font-size: 18px;
  width: 165px;
}
.title-ff {
  margin: 0 auto;
  left: 0;
  right: 0;
  position: absolute;
  color: #454545;
  top: -17px;
  padding: 20px;
  line-height: 22px;
  text-align: left;
  margin-left: 47px;
  font-family: Quicksand;
  font-size: 15px;
}
.checkout-content {
  height: auto;
}
#checkoutModal {
  padding: 0px 6px 0px 6px;
}
.summary-total {
  position: absolute;
  bottom: 64px;
  color: #454545;
  font-size: 24px;
  left: 34px;
  font-family: Quicksand;
  font-weight: 500;
}
.section-two.small .pricing{
  top: -63px;
}
.section-two.small .price span{
  font-size: 20px;
}
.slashed {
  text-decoration: line-through;
  font-size: 20px;
}
.orig {
  font-size: 20px;
}

.section-one {
  min-height: 132px;
  padding-top: 8px;
}

.section-one .index {
  font-size: 36px;
  font-family: 'Source Sans Pro';
  color: #e6e6e6;
}

.section-one .title {
  position: absolute;
  margin-top: 8px;
  font-size: 15px;
  color: #666;
  margin-left: 16px;
  width: calc( 100% - 138px);
  line-height: 20px;
}
.card-container.small {
  min-height: 130px;
  opacity: 1;
  position: relative;
}
.card-container.small .top {
  margin-top: 6px;
}
.card-container.small .usp-title {
  position: absolute;
  left: 100px;
  top: 20px;
}
.usp-title .title {
  left: -116px !important;
}
.special-msg {
  top: 72px;
  background: rgb(246, 246, 246);
  font-size: 14px !important;
  width: calc(100% - 68px);
  top: 72px;
  height: 103px;
  background: #feeded;
}
.special-msg-txt {
  margin-top: 0px;
  margin-left: 6px;
  position: absolute;
  height: 136px;
}
.starter {
  width: 136px;
}
.starter-height {
  height: 74px !important;
}
.starter-title {
  top: -50px;
  position: relative;
  width: 200px;
  font-size: 16all 0.7s ease 0spx !important;
}
.starter-bottom-inc {
  bottom: 114px !important;
}
.card-container.small .usp-desc {
  top: 135px;
  left: 21px;
  color: #fff;
  font-size: 14px;
  font-family: Quicksand;
  width: 240px !important;
}
.checkout-content {
  height: calc(100% - 340px);
  overflow-y: scroll;
  margin-top: 18px;
  padding: 20px;
}
.card-container.small .title {
  color: #454545;
  font-size: 18px;
  width: 165px;
}
.title-ff {
  margin: 0 auto;
  left: 0;
  right: 0;
  position: absolute;
  color: #454545;
  top: -17px;
  padding: 20px;
  line-height: 22px;
  text-align: left;
  margin-left: 47px;
  font-family: Quicksand;
  font-size: 15px;
}
.section-one .top-right {
  padding: 8px;
  position: absolute;
}

.section-one .top-right-mini {
  padding: 8px;
  position: relative;
  top: -113px;
  left: 99px;
}

.section-one .top-left img.primary-img {
  border-radius: 6px;
  margin: 0px 0px -10px -2px;
  margin-left: 1px;
  border-radius: 17px;
  margin-bottom: 0px;
  padding-top: 10px;
}

.section-two .top {
  display: table;
  margin-top: -10px;
}

.title{
  color: #454545;
  font-size: 24px;
  font-family: Quicksand;
  margin-top: 8px;
}
.section-two .top .title{
  color: #454545;
  font-size: 17px;
}

.section-two .top-left, .section-two .top-right  {
  display: table-cell;
  vertical-align: middle;
}

.section-two .top-left {
  width: 118px;
  margin: 20px;
  overflow: hidden;
}

label.price {
  color: #000;
  font-weight: 600;
  font-family: Quicksand;
  margin-left: 50px;
  position: absolute;
  display: inline-block;
  min-width: 92px;
  height: 40px;
  line-height: 40px;
  font-size: 24px;
  margin-left: 0px;
  background: linear-gradient(-85deg, #ffeb91, #fff3c1,#ffdc40, #ffdc40);
  text-shadow: rgba(255, 255, 255, 0.2) 1px 1px, rgba(255, 255, 255, 0.2) 1px 1px;
  -moz-border-radius: 0 3px 2px 0px;
  -webkit-border-radius: 0;
  border-radius: 0px;
  top: -45px;
  -webkit-box-shadow: -10px 2px 11px -3px rgba(0,0,0,0.3);
  -moz-box-shadow: -10px 2px 11px -3px rgba(0,0,0,0.3);
  box-shadow: -10px 2px 11px -3px rgba(0,0,0,0.3);
}
label.price:after {
  content: "";
  position: absolute;
  right: 100%;
  bottom: 0;
  width: 0;
  height: 0;
  display: inline-block;
  line-height: 0;
  border-width: 20px;
  border-style: solid;
  border-color: #FFDC40 #FFDC40 #FFDC40 transparent;
  -webkit-box-shadow: 1px 6px 7px -6px rgba(0,0,0,0.3);
  -moz-box-shadow: 1px 6px 7px -6px rgba(0,0,0,0.3);
  box-shadow: 1px 6px 7px -6px rgba(0,0,0,0.3);
}
label.price:before {
  content: '';
  position: absolute;
  bottom: 6px;
  width: 100px;
  left: -35px;
  height: 4px;
  -moz-box-shadow: 0 5px 14px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 5px 14px rgba(0, 0, 0, 0.4);
  box-shadow: 0 5px 14px rgba(0, 0, 0, 0.4);
  z-index: -1;
  -moz-transform: skew(-5deg) rotate(-5deg);
  -ms-transform: skew(-5deg) rotate(-5deg);
  -webkit-transform: skew(-5deg) rotate(-5deg);
  transform: skew(-5deg) rotate(-5deg);
}
.pricing {
  position: relative;
  top: -206px;
  float: right;
  right: 68px;
}
.card-container {
  background: rgba(255,255,255,0.2);
  box-shadow: 0 0 34px 3px hsla(0,0%,75%,.27);
  width: calc(100% - 40px);
  margin: 0 auto;
  margin-top: 40px;
  border: none !important;
  border-radius: 9px;
  min-height: 340px;
  padding: 0px 16px 0px 16px;
  backdrop-filter: saturate(100%) blur(75px);
  min-height: 363px;
  -webkit-backdrop-filter: saturate(100%) blur(75px);
}

.checkout-content > *:not(:first-child) {
  margin-top: 30px !important;
}

.checkout-next {
  bottom: 34px;
  margin-top: auto;
  float: right;
  position: fixed;
  right: 24px;
  background: linear-gradient(-45deg, #fa6037, #f57556, #fd5531, rgba(255, 27, 0, .98));
  background: linear-gradient(-45deg, #fa6037, #f57556, #fd5531, rgba(255, 27, 0, .98));
  border-radius: 30px;
  box-shadow: 0 0 46px 0 rgba(0, 0, 0, .27);
  color: #fff;
  float: right;
  font-weight: 700;
  height: 39px;
  line-height: 33px;
  margin-top: 21px;
  padding-left: 14px;
  padding-top: 5px;
  width: 107px;
  text-align: center;
  margin-bottom: -82px;
}

.top-right.step-2 {
  margin: 0 auto;
  left: 0;
  right: 0;
  width: 260px;
  margin-top: 70px;
}

.highlight{
  font-weight: bold;
  color: #da3100;
}
.delivery-section {
  display: table;
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  text-align: left;
  top: 50px;
  background: #e6e1d991;
  padding: 9px;
  padding-bottom: 23px;
  border-radius: 8px;
  width: 246px;
}
.slot-dropdown {
  height: 52px;
  width: 119px;
  margin-left: 27px;
  font-family: Quicksand;
  font-size: 16px;
}
.delivery-icon {
  width: 36px;
  left: -7px;
  opacity: 1;
  top: 0px;
}
.payment-success {
  font-weight: bold;
  font-size: 24px;
}
.payment-success span{
  margin-left: 12px;
}
.radios {
  margin-left: 10px;
  font-family: Quicksand;
  font-weight: bold;
}
.radios > label {
  margin-left: -5px;
}
.deliver-cell span {
  font-family: 'Quicksand';
}
.checkout-step-input {
  width: 300px !important;
  margin: 0 auto;
  left: 0;
  right: 0;
  position: absolute;
}
.notify-title-track {
  width: 100%;
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: bold;
}
.track-icon-title {
  top: 21px;
  position: absolute;
  margin-left: 8px;
}
iframe {
  width: 343px;
  border: none;
  border-radius: 12px;
}
.pay-now {
  border-radius: 50px;
  bottom: 20px;
  left: 0;
  margin: 0 auto;
  position: fixed;
  padding-left: 0px;
  width: calc(100% - 76px);
  left: -10px;
}
.pay-card {
  background: #fff;
  bottom: 0;
  color: #d50809;
  font-family: Quicksand;
  font-weight: 700;
  left: 0;
  padding: 20px 20px 82px;
  text-align: center;
  width: calc(100% - 30px);
  width: 100vw !important;
  z-index: 0;
  margin-left: -41px !important;
}
.pay-card > span {
  padding: 20px !important;
}
  @media (min-width: 600px) {
    .product-list {
      grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    }
  }